/*.icon {
    z-index: 2;
    position: fixed;
    width: 44.02px;
    height: 43.87px;
    top: 42px;
    right: 42px;

}*/

/*#footer {
    font-family: reason-new, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #EBA0A0;
    top: 90%;
}

#footer .text {
    text-align: right;
    margin-bottom: 25px;
    margin-right: 42px;
} */

:root {
    --one-d: #ffccf1;
    --two-d: #e2ceeb;
    --three-d: #ffaf82;
    --four-d: #ffe485;
    --five-d: #ceebdd;
    --six-d: #96b3ff;
    --seven-d: #ffccf1;
    --eight-d: #afbaef;
    --nine-d: #ceebdd;
    --ten-d: #ffe485;
    /*start in light mode*/
    --one-l: #79BF95;
    --two-l: #ffccf1;
    --three-l: #FFA9DD;
    --four-l: #ffa9dd;
    --five-l: #FFC2C9;
    --six-l:#79BF95;
    --seven-l: #FFC2C9;
    --eight-l: #D1EFE3;
    --nine-l: #79BF95;
    --ten-l:#EB71BA;
}

.dark-mode {
    --one-l: #ffccf1;
    --two-l: #e2ceeb;
    --three-l: #ffaf82;
    --four-l: #ffe485;
    --five-l: #ceebdd;
    --six-l: #96b3ff;
    --seven-l: #ffccf1;
    --eight-l: #afbaef;
    --nine-l: #ceebdd;
    --ten-l: #ffe485;
    /*start in light mode*/
    --one-d: #79BF95;
    --two-d: #ffccf1;
    --three-d: #FFA9DD;
    --four-d: #ffa9dd;
    --five-d: #FFC2C9;
    --six-d: #79BF95;
    --seven-d: #FFC2C9;
    --eight-d: #D1EFE3;
    --nine-d: #79BF95;
    --ten-d: #EB71BA;

}

.circle {
    position: fixed; /*absolute makes it still scroll with the viewport window, fixed is totally fixed*/
    z-index: -1;
    border-radius: 50%;
    opacity: 0.08;
    filter: blur(20px);
    background: radial-gradient(50% 50% at 50% 50%, #FFEADD 27.6%, #FFFBF1 96.88%), #FFF9EF no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    /*animation-name: fadeInOut;
    animation-duration: 0.5s;
    animation-iteration-count: 1; */
}


@keyframes fadeInOut {
    0% {
        filter: blur(40px);
        opacity: 0.13;
    }

    50% {
        filter: blur(20px);
        opacity: 0.22;
    }

    100% {
        filter: blur(35px);
        opacity: 0.10;
    }
}

.one {
    background: var(--one-l);
    width: 349px;
    height: 349px;
    left: -159px;
    top: 0px;
    /*animation: animation-name, animation-duraction, animation-timing-function, animation-delay, animation-iteration-count, animation-direction */
    animation: fadeInOut 6s ease-in-out 0s infinite forwards;
}

.two {
    width: 213px;
    height: 213px;
    left: -14px;
    top: -83px;

    background: var(--two-l);
    animation: fadeInOut 6s ease-in-out 1s infinite forwards;
}


.three {
    width: 317px;
    height: 317px;
    left: 149px;
    top: -190px;

    background: var(--three-l);
    animation: fadeInOut 6s ease-in-out 2s infinite forwards;
}

.four {
    width: 349px;
    height: 349px;
    right: 60px;
    top: -180px;

    background: var(--four-l);
    animation: fadeInOut 6s ease-in-out 0s infinite forwards;
}

.five {
    width: 242px;
    height: 242px;
    top: -107px;
    right: -140px;
    z-index: 1;
    background: var(--five-l);
    animation: fadeInOut 6s ease-in-out 1s infinite forwards;
}

.six {
    width: 276px;
    height: 276px;
    right: -120px;
    top: 65px;

    background: var(--six-l);
    animation: fadeInOut 6s ease-in-out 2s infinite forwards;
}

.seven {
    width: 349px;
    height: 349px;
    right: -250px;
    bottom: 100px;

    background: var(--seven-l);
    animation: fadeInOut 6s ease-in-out 0s infinite forwards;
}

.eight {
    width: 377px;
    height: 377px;
    right: -60px;
    bottom: -200px;

    background: var(--eight-l);
    animation: fadeInOut 6s ease-in-out 1s infinite forwards;
}

.nine {
    width: 242px;
    height: 242px;
    left: 120px;
    bottom: -100px;

    background: var(--nine-l);
    animation: fadeInOut 6s ease-in-out 2s infinite forwards;
}

.ten {
    width: 349px;
    height: 349px;
    left: -175px;
    bottom: -75px;

    background: var(--ten-l);
    animation: fadeInOut 6s ease-in-out 0s infinite forwards;
}


@media (max-width: 450px),
(max-height: 740px) {
    @keyframes fadeInOut {
        0% {
            filter: blur(20px);
            opacity: 0.2;
        }

        50% {
            filter: blur(4px);
            opacity: 0.40;
        }

        100% {
            filter: blur(20px);
            opacity: 0.1;
        }
    }

    .circle {
        height: 200px;
        width: 200px;
    }

    .seven {
        right: -150px;
        bottom: 150px;
    }

    .eight {
        right: -60px;
        bottom: -100px;
    }
}