:root {
    --bg-d: #362b3b;
    --head-d: #fffcf9;
    --body-d: #fffcf9;
    --border-d: none;
    --hover-d: #ffaf82;

    --bg-l: #fffffa;
    --head-l: #DB3C3C;
    --body-l: #960d0d;
    --border-l: #DB3C3C;
    --hover-l: #6C886B;
}

.dark-mode {
    --bg-l: #362b3b;
    --head-l: #fffcf9;
    --body-l: #fffcf9;
    --border-l: none;
    --hover-l: #ffaf82;

    --bg-d: #fffffa;
    --head-d: #d70000;
    --body-d: #960d0d;
    --border-d: #d70000;
    --hover-d: #6C886B;
}

html {
    height: 100%;
    /*background: #426641;*/
    /*background: var(--bg-d); prev beige#EEE5DF;*/
    font-size: 12px;
}

body {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--bg-l);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: var(--body-l);
    font-size: 1.3rem;
    line-height: 115%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Bianzhidai-bg-base";
    src: url("fonts/bianzhidai-Base.woff") format("woff");
}

@font-face {
    font-family: "Bianzhidai-bg-cube";
    src: url("fonts/bianzhidai-Cube.woff") format("woff");
}
@font-face {
    font-family: "Bianzhidai-base";
    src: url("fonts/bianzhidai_noBG-Base.woff") format("woff");
}
@font-face {
    font-family: "Bianzhidai-cube";
    src: url("fonts/bianzhidai_noBG-Cube.woff") format("woff");
} 

h1, h2, h3 {
    font-family: 'Bianzhidai-bg-base', serif;
    font-weight: 400;
    color: var(--head-l); /*prev purple: #482459;*/
    margin-bottom: 24px;
    line-height: 95%;
    padding: 0;
    opacity: 68%;
}

h1 {
    font-size: 4.209rem;
    text-align: justify;
}

.hide {
    position: absolute;
    top: 22%;
    left: 45%;
    width: 260px;
    z-index: 1;
    /*opacity: 0;*/
    visibility: hidden;
}

.img-hover:hover .hide {
    display: block;
    visibility: visible;
}

.img-hover:hover, .hide {
    color: var(--hover-l);
}

h2 {font-size: 3.157rem;}
h3 {
    font-family: 'Bianzhidai-cube', serif;
    font-size: 2.369rem;
}

h2, h3 { 
    width: 50%;
    height: 52px;
    margin: 0px;
    padding: 0;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--head-l); /*#482459;*/
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h4 {font-size: 2.369rem; font-weight: 300;} /*prev 700*/
h5 {font-size: 1.777rem; font-weight: 300;}
h6 {
    font-size: 1.333rem; font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--head-l); /* #482459; */
}
.nav-link:hover {
    font-weight: 500;
    font-size: 1.777rem;
    cursor: pointer;
    color: var(--hover-l);
}

.uncolor {
    color: var(--head-l);
    /*#482459; */
}
.uncolor.noline {
    color: var(--head-l);
    text-decoration: none;
}
.uncolor.noline:hover {
    color: var(--hover-l);
    text-decoration: underline;
}

.uncolor:hover {
    color: var(--hover-l);
}


.container {
    position: relative;
    /*height: 100%;*/
    /*top: 15%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center; or stretch?*/

}

.small {
    /*left col*/
    width: 20%;
    height: 300%;
}

.big {
    /*right col*/
    /*top: 15%;*/
    height: 100%;
    position: relative;
    width: 80%;
    padding-right: 10%;
}
#navbar { 
    position: sticky;
    align-self: flex-start;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40%;
    padding-top: 72px;

}

img {
    width: 100%;
    object-fit: contain;
}

section {
    padding: 4rem 0 4rem 0;
   /* display: flex;
    flex-direction: row;
    justify-content: flex-start;*/
}

.section {
    margin-left: 10%;
    margin-bottom: 40%;
    padding-top: 72px;
}
.section#work {
    margin-bottom: 20%;
}
.section#contact {
    padding-bottom: 48px;
}

.divider {
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #C7BCB6;
}

#grid-2x2 {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    padding: 36px 0px;
    column-gap: 36px;
    row-gap: 48px; 
}

#grid-3x7 {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    padding: 36px 0px;
    column-gap: 36px;
    row-gap: 48px;
}

.work-item {
    width: 100%;
}

/*to align titles*/
/*.work-title  {

    height: 80px;
    text-decoration: none;
} */

.work-img {
    width: 100%;
    margin: 24px 0;
    border: 1px dashed var(--border-l);
}

/*MISC STYLING/INTERACTIVITY*/
.external-link::after {
    content: " ↗";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    padding: 36px 0px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 24% 0 0 0;
    display:inline;
    position: relative;
}

button svg {
    color: var(--head-l);
    width: 100%;
    height: 36px;
}

button svg:hover {
    color: var(--hover-l);
}


/*button, input, textarea {
    background: #fffbf1;
    border: 1px solid #FFAF82;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 4px;
}

button:hover, input:hover, textarea:hover {
    background: #ffaf82;
}

button, label, input, textarea {
    font-family: 'Space Grotesk', sans-serif;
    color: #362b3b;
    font-size: 1.333rem;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 24px;
}

input, textarea {
    width: 250px;
    margin-left: 36px;
}

input:focus, textarea:focus {
    background: #ffffff;
    border-radius: 6px;
} */
