html {
    height: 100%;
    /*background: #426641;*/
    background: #362B3B; /*prev beige#EEE5DF;*/
    font-size: 12px;
}

body {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Oranienbaum', serif;
    font-weight: 400;
    color: #fffcf9; /*prev purple: #482459;*/
    margin-bottom: 24px;
}

h1 {
    font-size: 4.209rem;
    margin:0 0 24px 0; 
    padding:0;
    display: inline;
}


.hide {
    position: absolute;
    top: 22%;
    left: 45%;
    width: 260px;
    z-index: 1;
    /*opacity: 0;*/
    visibility: hidden;
}

h1:hover .hide {
    display: block;
    visibility: visible;
}

h1:hover, .hide {
    color:#FFAF82;
}

h2 {font-size: 3.157rem;}
h3 {font-size: 1.777rem; color: #C7BCB6;}

h2, h3 { 
    width: 50%;
    height: 52px;
    margin: 0px;
    padding: 0;
    display: inline;
}

h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
    color:#fffcf9; /*#482459;*/
    margin: 0;
    padding: 0;
}

h4 {font-size: 2.369rem; font-weight: 700;}
h5 {font-size: 1.777rem; font-weight: 600;}
h6 {
    font-size: 1.333rem; font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color:#fffcf9; /* #482459; */
}
.uncolor {
    color:#C7BCB6;  /*#482459; */
}

.uncolor:hover {
    color: #FFAF82;
}

.link:hover {
    font-weight: 500;
    font-size: 1.777rem;
    cursor: pointer;
    color: #FFAF82;
}


.container {
    position: relative;
    /*height: 100%;*/
    /*top: 15%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center; or stretch?*/

}

.small {
    width: 20%;
    height: 300%;
}

.big {
    /*top: 15%;*/
    height: 100%;
    position: relative;
    width: 80%;
    padding-right: 10%;
}

#navbar { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40%;
    padding-top: 72px;

}


.section {
    margin-left: 10%;
    margin-bottom: 40%;
    padding-top: 72px;
}

#work-contents {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    padding: 36px 0px;
    column-gap: 36px;
    row-gap: 48px;
}

.work-item {
    width: 100%;
}

/*to align titles*/
/*.work-title {
    height: 80px;
}*/


.work-img {
    width: 100%;
    padding: 24px 0;
}

form {
    padding: 36px 0px;
}

button, input, textarea {
    background: #fffbf1;
    border: 1px solid #FFAF82;
    border-radius: 6px;
    cursor: pointer;
}

button:hover, input:hover, textarea:hover {
    background: #482459; /*#fff;*/
}

button, label, input, textarea {
    font-family: 'Manrope', sans-serif;
    color: #fffcf9;

    font-size: 1.333rem;
    font-weight: 400;
    line-height: 24px;
    
    margin-bottom: 24px;
}

input, textarea {
    width: 250px;
    margin-left: 36px;
}

input:focus, textarea:focus {
    background: #ffffff;
    border-radius: 6px;
}
